:root {
    --clr-bg: rgb(21, 21, 21);
    --clr-main: rgb(198, 198, 198);
    --clr-sec: rgb(173, 86, 255);
    --font-size: 20px;
}

body {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--clr-bg);
    font-family: 'Finlandica', sans-serif;
    color: var(--clr-main);
    font-size: var(--font-size);
    max-width: 70%;
}

header {
    font-size: 65px;
    margin-bottom: 1em;
}

h2 {
    margin: 1em 0em 0em;
}

.neon-button {
    color: var(--clr-sec);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-sec) 0.1em solid;
    padding: 0.3em .5em;
    border-radius: 0.25em;
    margin: 0em 0em .3em;
}

.purple {
    color: var(--clr-sec);
}